%div.wrapper
  = render 'shared/side_bar'

  %div.chat-main
    %div.main-header
      %div.main-header__left-box
        %p.main-header__left-box__current-group
          = @group.name
        %p.main-header__left-box__member-list
          Member：しゅうと
      %div.main-header__edit-btn
        = link_to "Edit", root_path, :style=>"color: #38aef0;"
    %div.messages
      = render @messages

    %div.form
      = form_for [@group, @message], class: "new_message" do |f|
        %div.input-box
          =f.text_field :content, placeholder: "type a message", class: "input-box__text"
          %label.upload-label{for: "upload-icon" , class: "input-box__image"}
            %i.fa.fa-picture-o
            = f.file_field :image, id: "upload-icon", class: "file-field"
        =f.submit "Send", class: "send-btn"



